@import url('https://fonts.googleapis.com/css?family=Montserrat:100, 200, 300, 400, 500, 600, 700, 800, 900&display=swap');
    @keyframes appear {
    0% {
    opacity: 0;
}
50% {
    opacity: 0;
}
100% {
    opacity: 1;
}
}
:root {
    --smallTextSize: calc(0.8 * var(--textSize));
    --textSize: 2.5vmin;
    --bigTextSize: calc(1.4 * var(--textSize));
    --smallTitleSize: calc(0.8 * var(--titleSize));
    --titleSize: 8vmin;
    --bigTitleSize: calc(1.4 * var(--titleSize));
    --primaryColor: #ff3b3f;
    --secondaryColor: #333333;
    --accentColor: #dddddd;
    --orange: #f58735;
    --dimgray: #686f79;
    --titleFamily: 'Anton', sans-serif;
    --textFamily: 'Roboto Slab', serif;
    --accentFamily: 'Roboto', sans-serif;
    --mobileMedia: 850px;
}
* {
    margin: 0;
    padding: 0;
    border: none;
    outline: 0;
    box-sizing: border-box;
    text-decoration: inherit;
    text-transform: inherit;
    color: inherit;
    list-style: inherit;
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
}
body {
    font-size: var(--textSize);
    color: var(--secondaryColor);
    list-style: none;
    font-family: var(--textFamily);
    font-weight: 300;
    text-decoration: none;
    text-transform: none;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background: var(--primaryColor);
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
    background: var(--orange);
}
::-webkit-scrollbar-thumb:active {
    background: var(--accentColor);
}
::-webkit-scrollbar-track {
    background: var(--secondaryColor);
}
@media only screen and(max-width:var(--mobileMedia)), (orientation:portrait) {
    :root {
    --textSize: 3.5vmin;
}
}
.sectionTitle {
    font-size: var(--titleSize);
    width: 100%;
    padding: 3% 5%;
    text-transform: uppercase;
    font-family: var(--titleFamily);
    text-align: center;
}
.sectionTitle.dark {
    color: #fff;
    background-color: var(--secondaryColor);
}
.btn {
    display: block;
    padding: 5px 30px;
    border: 2px solid var(--secondaryColor);
    text-transform: uppercase;
    font-size: var(--bigTextSize);
    border-radius: 5px;
    background: linear-gradient(to right, transparent 50%, var(--primaryColor) 50%);
    background-size: 205% 100%;
    background-position: top left;
    transition: background .2s ease-out;
    margin: 3vh 0;
    color: var(--secondaryColor);
    cursor: pointer;
    user-select: none;
}
.btn:hover {
    background-position: top right;
}
.btn.dark {
    border-color: #fff;
    color: #fff;
}
.block {
    display: block;
}
.xCenter {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.primaryColor {
    color: var(--primaryColor);
}
.secondaryColor {
    color: var(--secondaryColor);
}
.accentColor {
    color: var(--accentColor);
}
.whiteColor {
    color: #fff;
}
.boldText {
    font-weight: 700;
}
.normalText {
    font-size: var(--textSize);
}
.smallTitle {
    font-size: var(--smallTitleSize);
}
.smallText {
    font-size: var(--smallTextSize);
}
.bigText {
    font-size: var(--bigTextSize);
}
.mobile {
    display: none;
}
.lazy {
    background-image: none;
    background-color: var(--accentColor);
}
.row {
    display: flex;
    flex-direction: row;
    width: 100%}
.col {
    flex: 1;
    margin: 5px;
}
.offerContainer .offer {
    border: 3px solid #fff;
    color: #fff;
    text-align: center;
    background-image: linear-gradient(to bottom, transparent 50%, var(--primaryColor) 50%);
    background-size: 100% 205%;
    background-position: left top;
    transition: all .5s ease;
    cursor: pointer;
    position: relative;
    padding: 3vmin 1vmin;
}
.offerContainer .offer i {
    font-size: var(--bigTitleSize);
    display: block;
    margin-bottom: 2vmin;
}
.offerContainer .offer span {
    font-size: var(--textSize);
}
.offerContainer .offer:hover {
    top: -.5vh;
    background-position: left bottom;
}
@media only screen and (max-width:var(--mobileMedia)), (orientation:portrait) {
    .mobile {
    display: inherit;
}
.notInMobile {
    display: none!important;
}
}
.nav {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    text-transform: uppercase;
    z-index: 999999;
    transition: top .5s ease;
    user-select: none;
}
.nav .navContent {
    background-color: var(--secondaryColor);
    display: flex;
    width: 100%;
    color: #fff;
}
.nav .logo {
    width: 15vmin;
    background-color: var(--accentColor);
    cursor: pointer;
    padding: 5px 25px;
}
.nav .navMenu {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    justify-content: center;
    align-items: center;
    flex: 1;
}
.nav .submenuDisplayer, .nav li {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    width: 100%;
    height: 100%}
.nav li {
    transition: background .5s ease, color .5s ease;
}
.nav li li {
    padding: 15px 0;
}
.nav li:hover {
    color: var(--secondaryColor);
    background-color: #fff;
}
.nav li li:hover {
    color: #fff;
    background-color: var(--secondaryColor);
}
.nav .submenu {
    position: absolute;
    left: 0;
    top: -100vh;
    width: 100%;
    transition: top .5s ease;
    z-index: -1;
    cursor: default;
    background-color: #fff;
    color: var(--secondaryColor);
    border-bottom: 1px solid var(--secondaryColor);
    padding: 0 20px;
}
.nav .submenu.active {
    top: 100%!important;
}
.submenu .closeButton {
    position: absolute;
    bottom: 0;
    right: 6%;
    top: 1vh;
    z-index: 1;
    font-size: var(--bigTitleSize);
    color: #fff;
}
.nav .toggleMenu {
    font-size: var(--bigTitleSize);
    align-self: center;
    margin: 0 5%;
    cursor: pointer;
}
@media only screen and (max-width:var(--mobileMedia)), (orientation:portrait) {
    .nav .navContent {
    justify-content: space-between;
}
.nav .logo {
    padding: 5px 10px;
}
.nav .navMenu {
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: auto;
    transition: left .4s ease;
    background-color: var(--secondaryColor);
    color: #fff;
}
.nav li li:hover {
    color: var(--secondaryColor);
    background-color: #fff;
}
.navContent>.navMenu {
    left: -100vw;
    top: 100%}
.navContent>.navMenu.active {
    left: 0;
}
.nav li {
    padding: 20px 5%}
.nav .submenu {
    top: 0;
    left: -100vw;
    transition: left .4s ease;
    z-index: 1;
}
.nav .submenu.active {
    top: 0!important;
    left: 0!important;
}
}
.bannerSection {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-blend-mode: color;
    background-position: top center;
    background-color: rgba(0, 0, 0, .6);
    background-image: url(../img/bg-header.jpg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5vmin 5%}
.bannerSection .pageTitle {
    color: var(--primaryColor);
    text-transform: uppercase;
    font-size: var(--bigTitleSize);
    font-family: var(--titleFamily);
    font-weight: 700;
    width: 100%;
    text-align: center;
    margin-bottom: 5vh;
}
.bannerSection .offerContainer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    align-items: center;
    grid-gap: 3vmin;
    justify-content: center;
    color: #fff;
}
@media only screen and (max-width:var(--mobileMedia)), (orientation:portrait) {
    .bannerSection {
    height: 50vh;
}
}
.aboutSection {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5% 15%;
    position: relative;
    text-align: center;
    min-height: 60vh;
    background-color: rgba(0, 0, 0, .6);
    background-image: url(../img/bg-about.jpg);
    background-blend-mode: color;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
}
.aboutSection .aboutTitle {
    font-size: var(--titleSize);
    margin-bottom: 5vh;
}
.aboutSection .sliderButtons {
    position: absolute;
    user-select: none;
    width: 100%;
    bottom: 5%}
.aboutSection .sliderButtons>* {
    cursor: pointer;
    position: absolute;
    bottom: 0;
    padding: 5px 25px;
    color: #fff;
    font-size: var(--bigTextSize);
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: 210% 100%;
    transition: background .3s ease, color .4s ease;
}
.aboutSection .sliderButtonPrev {
    background-image: linear-gradient(to right, var(--secondaryColor) 50%, var(--accentColor) 50%);
    background-position: top left;
    left: 5%}
.aboutSection .sliderButtonNext {
    background-image: linear-gradient(to right, var(--accentColor) 50%, var(--secondaryColor) 50%);
    background-position: top right;
    right: 5%}
.aboutSection .sliderButtonPrev:hover {
    background-position: top right;
    color: var(--secondaryColor);
}
.aboutSection .sliderButtonNext:hover {
    background-position: top left;
    color: var(--secondaryColor);
}
@media only screen and (max-width:var(--mobileMedia)), (orientation:portrait) {
    .aboutSection {
    min-height: 100vh;
}
}
.service {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.serviceDescription, .serviceImg {
    flex: 1;
    order: 2;
    display: flex;
    justify-content: center;
}
.serviceImg {
    width: 55%;
    object-fit: cover;
}
.serviceDescription {
    flex-direction: column;
    padding: 5%;
    background-color: var(--accentColor);
}
.service:nth-child(odd) .serviceDescription {
    order: 1;
}
.serviceTitle {
    font-size: var(--smallTitleSize);
    font-weight: 700;
    margin-bottom: 5vh;
    align-self: center;
}
.serviceDescription p {
    margin: 2vh 0;
}
.serviceDescription ul {
    padding-left: 10px;
}
.serviceDescription li:before {
    content: "\f054";
    color: red;
    margin-right: 5px;
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    font-size: 60%}
@media only screen and (max-width:var()--mobileMedia), (orientation:portrait) {
    .service {
    flex-direction: column;
}
.serviceImg {
    width: 100%;
    max-height: 50vh;
}
.service:nth-child(odd) .serviceDescription {
    order: 2;
}
}
.otherServicesSection {
    padding: 0 5%;
    background-color: var(--secondaryColor);
}
.otherServicesSection .offer {
    border: none;
    cursor: default;
}
.contactContent {
    display: flex;
}
.contactContent>* {
    flex: 1;
}
.contactContent .form {
    background-color: var(--secondaryColor);
    padding: 3% 5%}
.contactForm {
    margin-top: 3vh;
    padding: 3% 5%}
.contactForm input, .contactForm select, .contactForm textarea {
    width: 100%;
    height: 100%;
    padding: 1% 5%;
    font-size: var(--smallFont);
    background: #fff;
    color: var(--darkGray);
    position: relative;
    border-radius: 5px;
    z-index: 1;
}
.contactForm select {
    height: 5vh;
    margin-bottom: 5vh;
}
.contactForm textarea {
    height: 15vh;
    margin-bottom: 3vh;
}
.contactForm .formField {
    position: relative;
    width: 100%;
    height: 5vh;
    margin-bottom: 5vh;
}
.contactForm .formField label {
    position: absolute;
    font-size: var(--smallFont);
    color: #000;
    top: 25%;
    left: 6%;
    z-index: 2;
    transition: transform .4s ease, color .3s ease-out;
}
.contactForm .formField.active label {
    transform: translateY(-160%);
    font-size: var(--normalFont);
    color: #fff;
}
.contactContent .map {
    padding: 3% 5%}
.contactContent .map img {
    width: 100%;
    height: 85%;
    margin-top: 3vh;
    object-fit: cover;
}
@media only screen and (max-width:var(--mobileMedia)), (orientation:portrait) {
    .contactContent {
    display: block;
}
.contactContent>* {
    width: 100%;
    min-height: 50vh;
}
.contactContent .map {
    height: 50vh;
}
}

.activityContainer
{
	display: grid;
	grid-template-columns: repeat(auto-fit, 300px);
	height: 50vh;
	grid-gap: 10px;
	width: 100%;
	padding: 3% 5%;
	justify-content: space-around;
	align-items: center;
}
.activity
{
	position: relative;
	cursor: pointer;
	width: 100%;
	height: 100%;
}
.activity .back, .activity .front
{
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	position: absolute;
	transition: transform 0.6s linear;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.activity .front
{
	background-color: var(--primaryColor);
	color: white;
	text-align: center;
	transform: perspective(600px) rotateY(0deg);
}
.activity .back
{
	background: white;
	transform: perspective(600px) rotateY(180deg);
}
.activity:hover .front
{
	transform: perspective(600px) rotateY(-180deg);
}
.activity:hover .back
{
	transform: perspective(600px) rotateY(0deg);
}

.footer {
    width: 100%;
    padding: 20px 0 0;
    background-color: var(--secondaryColor);
    color: #fff;
    margin-top: 5vh;
    font-size: var(--smallTextSize);
}
.footer .footerTitle {
    font-size: var(--bigTextSize);
    font-weight: 700;
    color: var(--primaryColor);
    margin-bottom: 3vh;
}
.footer .grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 5vmin;
    padding: 20px 5%}
.footer ul p, .footer ul ul {
    position: relative;
    left: 5%}
.footer li, .footer ul p {
    margin: 1vh 0;
    cursor: pointer;
    width: fit-content;
}
.footer i {
    color: var(--primaryColor);
    margin-right: 1vmin;
}
.footer .ubication {
    padding: 10px 5%}
.copyright {
    background-color: rgba(0, 0, 0, .3);
    padding: 20px;
    text-align: center;
    position: relative;
}
.copyright .author {
    font-size: 10px;
    display: block;
    margin-top: 5px;
}
